<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<ul>
  <li><h1>Character Name: <%= link_to @character.name, characters_path %></h1></li>
  <li><h1>Alignment: <%= link_to @character.alignment.name, alignments_path %></h1></li>
  <li><h1>Power: <%= link_to @character.power.name, @character.power %></h1></li>
  <li><h1>Weapon: <%= link_to @character.weapon.name, @character.weapon %></h1></li>
  <li><h1>Terrain: <%= link_to @character.terrain.name, @character.terrain %></h1></li>
  <li><h1>Master: <%= link_to @character.user.username, @character.user %></h1></li>
</ul>
