<h1>Name: <%= link_to @user.name, users_path %></h1>
<h2>User Name: <%= @user.username%></h2>
<h2>User Password: <%= @user.password%></h2>


<h3>Characters:</h3>
<% Character.all.map do |char| %>
  <% if char.user == @user %>
    <li>
      <%= link_to char.name, character_path(char) %>
    </li>
  <% end %>
<% end %>

<h3><%= link_to 'New Character', '/characters/new' %></h3>
